<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MyGoogle</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

</head>

<body>
    <script src="changeClass.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="animals.js"></script>
    <script src="words.js"></script>



    <div class="head-container">
        <div><a href="https://mail.google.com/mail/u/0/">Gmail</a></div>
        <div><a href="https://www.google.pl/imghp?hl=en&tab=wi&authuser=0/">Images</a></div>
        <div><i class="fas fa-th fa-lg"></i></div>
        <div><i class="fas fa-bell fa-lg"></i></div>
        <div><i class="fas fa-user-circle fa-3x"></i></div>
    </div>

    <div class="maincontainer">
        <div class="img-container">
            <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="">
        </div>

        <div id="changeClass" :class="isActive ? 'new-input-container' : 'input-container'">
            <form action="https://google.com" method="get"></form>
            <div class="search">
                <i class="fas fa-search fa-lg"></i>
            </div>

            <input v-on:focus="isActive = !isActive" class="input-search" maxlength="2048" name="Search" type="text"
                aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off"
                role="combobox" spellcheck="false" title="Search" value="" aria-label="Search" v-model="inputContent">
            </form>

            <div class="keyboard">
                <i class="fas fa-keyboard fa-lg tooltip">
                    <span class="tooltiptext">Virtual keyboard</span>
                </i>
            </div>

            <div class="mic">
                <!-- <img src="google-mic.png"> -->
                <i class="fas fa-microphone fa-lg tooltip">
                    <span class="tooltiptext">Search by voice</span>
                </i>
            </div>

            <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
        </div>

        <div class="button-container">
            <button class="mdc-ripple-surface stbtn animat" v-if="!inputContent"
                onclick="location.href='wyniki.html'">Google Search</button>
            <button class="mdc-ripple-surface stbtn animat" v-if="!inputContent">I'm Feeling Lucky</button>
        </div>

    </div>

    <footer>
        <div>
            <span>Poland</span>
        </div>
        <div class="second-row">
            <div class="left-menu">
                <a href="">Advertising</a>
                <a href="">Business</a>
                <a href="">About</a>
            </div>
            <div class="right-menu">
                <a href="">Privacy</a>
                <a href="">Terms</a>
                <a href="">Settings</a>
            </div>
        </div>
    </footer>
    <script>
        const elements = document.querySelectorAll('.animat');
        for (const element of elements) {
            mdc.ripple.MDCRipple.attachTo(element);
        }
    </script>


    <script src="autocompleter.js"></script>
</body>

</html>