@import "@material/button/mdc-button";
body {
    margin: 0;
}

.head-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 45px;
    margin: 8px;
}

.head-container>div {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

.head-container>div>i {
    cursor: pointer;
    margin-left: 3px;
    opacity: 0.6;
}

.fa-user-circle {
    color: #4285F4;
}

.head-container>div>i:hover {
    opacity: 1;
}

a:link {
    color: #404040;
    text-decoration: none
}

a:visited {
    color: #404040;
    text-decoration: none
}

a:hover {
    color: #a6a6a6;
    text-decoration: underline
}

a:active {
    color: #a6a6a6;
    text-decoration: underline
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    margin-top: 140px;
}

.input-container {
    margin-top: 22px;
    display: flex;
    padding: 5px 8px 0 16px;
    height: 39px;
    width: 584px;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    z-index: 3;
}

.input-container:hover {
    box-shadow: 0 0 4px 2px rgba(223, 225, 229, 0.6);
    border: solid 1px #dfe1e5;
}

.input-search {
    display: flex;
    flex: 100%;
    height: 34px;
    width: 480px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    font-family: arial, sans-serif;
    font-size: 1em;
    outline: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
}

.search {
    line-height: 44px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    width: 24px;
    margin-top: -5px;
}

.search>i {
    vertical-align: middle;
    cursor: pointer;
}

.fa-search {
    color: #4285F4;
}

.keyboard {
    line-height: 44px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    margin-top: -5px;
}

.keyboard>i {
    vertical-align: middle;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mic {
    line-height: 44px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    margin-top: -5px;
}

.mic>i {
    vertical-align: middle;
    cursor: pointer;
}

.fa-microphone {
    color: #4285F4;
}

.button-container {
    margin: 20px;
}

.button-container .mdc-button.mdc-button--raised {
    height: 32px;
    line-height: 32px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    margin: 11px 6px !important;
    min-width: 54px !important;
    padding: 0 16px !important;
    transition: all 0.3s;
}

.stbtn {
    background-color: #f2f2f2 !important;
    border: 1px solid #f2f2f2 !important;
    height: 36px !important;
    line-height: 27px !important;
    padding: 0 16px!important;
    text-align: center !important;
    cursor: pointer !important;
    margin: 11px 6px !important;
    min-width: 54px !important;
    color: #757575 !important;
    font-size: 13px !important;
    text-transform: none !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    visibility: visible;
    justify-content: center;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    text-align: left;
}

footer>div {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    visibility: visible;
    border-top: 1px solid #e4e4e4;
}

footer>div>span {
    font-size: 15px;
    padding-left: 27px;
    color: rgba(0, 0, 0, .54);
}

.second-row>div {
    width: 100%;
    font-size: 13px;
}

.right-menu {
    text-align: right;
}

.left-menu>a {
    padding-left: 27px;
}

.right-menu>a {
    padding-right: 27px;
}

.autocomplete-results {
    display: flex;
    padding: 5px 8px 8px 16px;
    height: 39px;
    width: 584px;
    border: solid 1px #dfe1e5;
    margin: auto;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: 0;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 4px;
}

.test {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}